:root {
  --purple: #a600ff;
  --circle-color: #212121;
}

.containerRight {
  font-family: 'Indie Flower';
  font-size: 24px;
  background-color: #212121;
  margin: 25vh auto;
  top: 20vh;
  padding-left: 70px;
  padding-right: 80px;
  padding-bottom: 60px;
  padding-top: 5px;
  border-radius: 50px;
  z-index: -1;
  color: #c4c4c4;
  text-shadow: 3px 3px 3px #242424;
  text-align: center;
  width: 40vw;

  box-shadow: 0px 0px 5px 5px var(--purple);
}

h2 {
  margin-bottom: 10px;
}

.containerRight p {
  margin-bottom: 0px;
  margin-top: 0px;
}

.containerRight a {
  color: #006eff;
}

.bluecolor {
  color: #006eff;
}

.scrollIndicator {
  position: absolute;
  left: 0;
  top: 30vh;
  height: 40vh;
  width: 7vw;
  justify-content: center;
  text-align: center;
  color: white;
  font-size: 40px;
}

.circle0 {
  transition: 1s;
  display: inline-block;
  background-color: var(--circle-color);
  width: 70px;
  height: 70px;
  border-radius: 100px;
}

.circle0 i{
  margin-top: 1.5vh;
}

.circle1 {
  transition: 1s;
  display: inline-block;
  background-color: var(--circle-color);
  width: 70px;
  height: 70px;
  border-radius: 100px;
  margin-top: 2vh;
}

.circle1 i{
  margin-top: 1.5vh;
}

.circle2 {
  transition: 1s;
  display: inline-block;
  background-color: var(--circle-color);
  width: 70px;
  height: 70px;
  border-radius: 100px;
  margin-top: 2vh;
}

.circle2 i{
  margin-top: 1.5vh;
}

.selectedCircle {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: #1f1f1f;
  border-radius: 30px;
  margin-top: 1vh;
}
