h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 30px;
    text-align: center;
}

p {
    font-size: 25px;
    font-family: 'Kalam', cursive;
    margin-bottom: -1em;
}

.team-content {
    color: white;
    position: relative;
    z-index: 10;
    text-align: center;
}

.content {
    color: white;
    position: relative;
    z-index: 10;
    text-align: center;
}

#member {
    color: rgb(219, 219, 219);
}