.AttraktionsauswahlBereich {
    padding: 30px;
    text-align: center;
    padding-top: 0;
}

.AttraktionsauswahlBereich article {
    width: 100%;
    height: 20vh;
    margin-top: 40px;
}

.AttraktionsauswahlBereich article img {
    box-shadow: 8px 10px rgba(0, 0, 0, 0.644);
    width: 100%;
    height: 100%;
    border-radius: 20px;
    filter: brightness(0.5)
}

.AttraktionsauswahlBereich article .BtnOverlayShadow {
    border-radius: 20px;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    margin-top: -20vh;
}

.AttraktionsauswahlBereich article .BtnOverlayShadow p {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%);
    color: white;
    font-size: 20px;
}

.Kategorieauswahl {
    display: none;
    position: absolute;
    top: 15vh;
    max-height: 85vh;
    margin-top: 40px;
    text-align: center;
    width: 80%;
    width: 100vw;
}

.Kategorieauswahl button {
    cursor: pointer;
    transition: background-color 0.5s;
    width: 80%;
    margin-bottom: 35px;
    padding: 15px;
    border: 0;
    border-radius: 13px;
    background-color: rgba(6, 187, 0, 0.493);
    color: white;
    font-weight: bolder;
    font-size: 16px;
}

.Kategorieauswahl button:hover {
    transition: background-color 0.5s;
    background-color: rgba(0, 139, 0, 0.555);
}