body {
  background-color: #2b2b2b;
  left: 0;
  top: 0;
  width: 100%;
  height: 150%;
  font-family: verdana;
  overflow: hidden;
}

#NavFabian {
  position: absolute;
  color: white;
  top: -8px;
  left: 20px;
  font-size: 29px;
  font-weight: bold;
  font-family: 'Caveat', cursive;
}

/* NAVIGATION */
nav {
  position: absolute;
  width: 100%;
  margin: -15px auto;
  background: transparent;
  padding: 0px 0;
  background-color: #9400e3;
  left: 0;
  top: 0;
  height: 65px;
  font-family: 'Roboto';
}

nav ul {
  list-style: none;
  text-align: center;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #f0f0f0;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 10px;
  font-weight: lighter;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}
nav ul li a:hover {
  color: #f0f0f0;
}


nav.stroke ul li a {
  position: relative;
}
nav.stroke ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #f0f0f0;
  height: 1px;
}
nav.stroke ul li a:hover:after {
  width: 100%;
}

.mainTitle {
  width: 100%;
  text-align: center;
  margin-top: 200px;
}

#fsp_title {
  font-family: 'Bebas Neue', cursive;
  color: #f0f0f0;
  margin-bottom: 0px;
  font-size: 130px;
}

#fsp_subtitle {
  font-size: 18px;
  margin-top: -35px;
  color: #525252;
  font-weight: lighter;
}

.mainMenuCenterNavigation {
  background-color:#212121;
  padding: 25px 20px;
  border-radius: 20px;
  text-align: center;
  margin: 75px auto;
  width: 70%;
}

.mainMenuCenterNavigation a {
  font-family: 'Indie Flower';
  border-color: #9400e3;
  padding: 7px 12px;
  border-radius: 8px;
  font-size: 24px;
  margin-left: 5px;
  transition: 1s;
  background-color: #212121;
  color: white;
  border-style: solid;
  text-decoration: none;
}

.mainMenuCenterNavigation a:hover {
  transition: 0.5s;
  border-color: #4c00ff;
}

.bottomWave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    line-height: 0;
}

.bottomWave svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 140px;
}

.bottomWave .shape-fill {
    fill: #575757;
}

/* Kleinere Bildschirme e.g Laptop */

@media only screen and (max-width: 1080px) {
  nav ul li a {
    margin: 0 -7.5px;
  }

  #NavFabian {
    transition: 0.25s;
    top: 0px;
    font-size: 25px;
  }

  #fsp_title {
    font-size: 100px;
  }

  #fsp_subtitle {
    font-size: 16px;
  }

  .mainMenuCenterNavigation a {
    font-size: 15px;
    padding: 3px 6px;
  }

  .bottomWave svg {
      height: 100px;
  }
}

/* Handygröße */

@media only screen and (max-width: 760px) {
  #navBarItems {
    display: none;
  }

  #NavFabian {
    transition: 0.25s;
    top: 0px;
    font-size: 25px;
    width: 100%;
    text-align: center;
    left: 0;
  }

  .mainTitle {
    margin-top: 150px;
  }

  #fsp_title {
    margin-top: 0em;
    font-size: 70px;
  }

  #fsp_subtitle {
    font-size: 11px;
    margin-top: -20px;
    color: #adadad;
  }

  .mainMenuCenterNavigation a {
    display: inline-table;
    margin-top: 10px;
    font-size: 19px;
  }

  .mainMenuCenterNavigation {
    margin-top: 25px;
    width: 40%;
    padding-left: 5px;
    padding-right: 5px;
  }
}
