.mobile-navigation {
    transition: height 0.5s;
    height: 0px;
    position: fixed;
    left: 0;
    top: 55px;
    z-index: 499;
    background-color: rgba(26, 26, 26, 0.98);
    width: 100vw;
}

.mobile-navigation ul {
    transition: margin-top 0.5s;
    padding-left: 0;
    margin-top: -100vw;
}

.mobile-navigation ul li {
    text-align: center;
    display: block;
    width: 100vw;
    margin-top: 20px;
    margin-bottom: 20px
}

.mobile-navigation ul li a {
    margin-left: -10%;
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
    cursor: pointer;
}
.mobile-navigation ul hr {
    width: 80vw;
    margin-left: 7.5vw;
}

.visible-mNAV {
    transition: height 0.5s;
    visibility: visible;
    height: 100vh;
}

.mobile-navigation .visible {
    transition: margin-top 0.5s;
    margin-top: 0px;
}