nav {
    position: fixed;
    min-height: 40px;
    padding-top: 15px;
    display: flex;
    text-align: center;
    width: 100%;
    background-color: rgb(56, 56, 56);
    font-size: 1.2rem;
    z-index: 500;
}

nav ul {
    margin-inline: auto;
}

nav ul li {
    display: inline-block;
    margin-left: 1rem;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
}

#nav-logo {
    text-decoration: none;
    color: white;
    position: fixed;
    left: 25px;
    z-index: 501;
    top: 7px;
    font-size: 1.2rem;
    font-family: 'Kalam', cursive;
}

#burger {
    display: none;
}

@media screen and (max-width: 850px) {
    nav ul {
        display: none;
    }

    #nav-logo {
        left: 50%;
        transform: translateX(-50%);
    }

    #burger {
        display: block;
    }
}