.container {
    width: 70%;
    min-height: 50vh;
    border-radius: 20px;
    position: relative;
    left: 50%;
    top: 45vh;
    transform: translate(-50%, -50%);
    background-color: rgba(32, 32, 32, 0.541);
    color: white;
    
}

body {
    background-image: linear-gradient(to bottom right, rgb(1, 81, 253), rgb(0, 204, 255));
    min-height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    overflow: hidden;
    margin: 0;
    padding: 0;
    top: 0;
}

h1 {
    padding-top: 20px;
}

h2 {
    font-size: 80px;
    margin: 50px;
    padding-bottom: 150px;
}

#input {
    position: absolute;
    bottom: 55px;
    width: 80%;
    left: 10%;
    font-size: 38px;
    text-align: center;
    user-select: none;
}

#changeMode {
    position: fixed;
    font-size: 20px;
    left: 5px;
    bottom: 5px;
    border: 0;
    padding: 10px;
    padding-inline: 20px;
    border-radius: 10px;
    
}

textarea:focus, input:focus{
    outline: none;
}

#note {
    color: white; font-size: 14px; position: absolute; bottom: 5px; left: 50%; transform: translateX(-50%);

    width: 80%;
}

.loginPage {
    background-color: rgb(48, 48, 48);
    background-image: linear-gradient(to bottom right, rgb(75, 0, 145),rgb(137, 0, 179));
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 800;
    color: white;
    padding-top: 325px;
    text-align: center;
}

.loginPage input {
    font-size: 30px;
    width: 10ch;
    text-align: center;
    border: 0;
}

.agent {
    color: white;
    position: fixed;
    left: 0;
    top: 0;
    padding: 10px;
    text-align: left;
    font-size: 16px;
}

/* ================================================== SPINNER ========================================== */

.orbit-spinner, .orbit-spinner * {
    box-sizing: border-box;
    z-index: 801;
  }

  .orbit-spinner {
    position: fixed;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    height: 250px;
    width: 250px;
    border-radius: 50%;
    perspective: 800px;
  }

  .orbit-spinner .orbit {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  :root {--animationSpeed: 1200ms; }

  .orbit-spinner .orbit:nth-child(1) {
    left: 0%;
    top: 0%;
    animation: orbit-spinner-orbit-one-animation var(--animationSpeed) linear infinite;
    border-bottom: 3px solid #ff1d5e;
  }

  .orbit-spinner .orbit:nth-child(2) {
    right: 0%;
    top: 0%;
    animation: orbit-spinner-orbit-two-animation var(--animationSpeed) linear infinite;
    border-right: 3px solid #ff1d5e;
  }

  .orbit-spinner .orbit:nth-child(3) {
    right: 0%;
    bottom: 0%;
    animation: orbit-spinner-orbit-three-animation var(--animationSpeed) linear infinite;
    border-top: 3px solid #ff1d5e;
  }

  @keyframes orbit-spinner-orbit-one-animation {
    0% {
      transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
  }

  @keyframes orbit-spinner-orbit-two-animation {
    0% {
      transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
  }

  @keyframes orbit-spinner-orbit-three-animation {
    0% {
      transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
  }

/* ========================================= Trainingsmode Button ========================================= */

.btn {
	line-height: 50px;
	height: 50px;
	text-align: center;
	width: 250px;
	cursor: pointer;
}

.btn-three {
	color: #FFF;
	transition: all 0.5s;
    position: fixed;
    left: 5px;
    bottom: 5px;
}
.btn-three::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: rgba(255, 255, 255, 0.15);
	transition: all 0.3s;
}
.btn-three:hover::before {
	opacity: 0 ;
	transform: scale(0.5,0.5);
}
.btn-three::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	transition: all 0.3s;
	border: 1px solid rgba(255,255,255,0.5);
	transform: scale(1.2,1.2);
}
.btn-three:hover::after {
	opacity: 1;
	transform: scale(1,1);
}

