#homeButton {
    position: absolute;
    top: 5px;
    left: 5px;
    border: 0;
    background-color: transparent;
    color: white;
    font-size: 1rem;
}

footer {
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100vw;
    color: white;
}

footer table {
    width: 100%;
    background-color: rgb(44, 44, 44);
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.637);
}

footer table tr td {
    cursor: pointer;
}