h1, h2 { color: white; text-align: center; }

h1 {
    font-family: 'Bebas Neue', cursive;
    margin-top: 10px;
}

h2 {
    font-size: 0.9rem;
}

#prototyp {
    color: rgb(224, 0, 0);
    font-size: 1.5rem;
}

.head {
    background-color: rgba(31, 31, 31, 0.527);
    padding-top: 10px;
    padding-bottom: 20px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 100vw;
}

.AttraktionsauswahlBereich {
    padding: 30px;
    text-align: center;
}

.AttraktionsauswahlBereich article {
    width: 100%;
    height: 20vh;
}

.AttraktionsauswahlBereich article img {
    box-shadow: 8px 10px rgba(0, 0, 0, 0.644);
    width: 100%;
    height: 100%;
    border-radius: 20px;
    filter: blur(1px)
}

.AttraktionsauswahlBereich article .BtnOverlayShadow {
    border-radius: 20px;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.815));
    margin-top: -20vh;
}

.AttraktionsauswahlBereich article .BtnOverlayShadow p {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%);
    color: white;
    font-size: 20px;
}

.Kategorieauswahl {
    display: none;
    position: absolute;
    top: 15vh;
    max-height: 85vh;
    margin-top: 40px;
    text-align: center;
    width: 80%;
    width: 100vw;
}

.Kategorieauswahl button {
    cursor: pointer;
    transition: background-color 0.5s;
    width: 80%;
    margin-bottom: 35px;
    padding: 15px;
    border: 0;
    border-radius: 13px;
    background-color: rgba(6, 187, 0, 0.493);
    color: white;
    font-weight: bolder;
    font-size: 16px;
}

.Kategorieauswahl button:hover {
    transition: background-color 0.5s;
    background-color: rgba(0, 139, 0, 0.555);
}