* {
     margin: 0;
}

html {
    width: 100vw;
    height: 100%;
}

body {
    background-image: linear-gradient(to bottom right, rgb(37, 255, 91), rgb(0, 255, 179));
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

h1, h2 { color: white; text-align: center;padding-left: 10px; }

h1 {
    font-family: 'Bebas Neue', cursive;
}

h2 {
    font-size: 0.9rem;
}

#prototyp {
    color: rgb(0, 236, 253);
    font-size: 1.5rem;
}

.head {
    background-color: rgba(31, 31, 31, 0.527);
    padding-top: 10px;
    padding-bottom: 20px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 100vw;
}