* {
     margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to bottom right, rgb(37, 255, 91), rgb(0, 255, 179));
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}