.container {
    width: 70%;
    min-height: 50vh;
    border-radius: 20px;
    position: relative;
    left: 50%;
    top: 45vh;
    transform: translate(-50%, -50%);
    background-color: rgba(32, 32, 32, 0.541);
    color: white;
    
}

body {
    background-image: linear-gradient(to bottom right, rgb(1, 81, 253), rgb(0, 204, 255));
    min-height: 100vh;
    background-color: rgb(252, 255, 230);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

h1 {
    padding-top: 20px;
}

h2 {
    font-size: 80px;
    margin: 50px;
    padding-bottom: 150px;
}

#input {
    position: absolute;
    bottom: 55px;
    width: 80%;
    left: 10%;
    font-size: 38px;
    text-align: center;
    user-select: none;
    border: 0;
}

#changeMode {
    position: fixed;
    margin-top: 10px;
    font-size: 20px;
    left: 5px;
    top: 0px;
    border: 0;
    padding: 10px;
    padding-inline: 20px;
    border-radius: 10px;
    
}

textarea:focus, input:focus{
    outline: none;
}

#note {
    color: white; font-size: 14px; position: absolute; bottom: 5px; left: 50%; transform: translateX(-50%);

    width: 80%;
}